<!Doctype HTML>
<html>
    {% load static %}
    <head>
        <title> User Authenticatiion </title>
        <link rel="stylesheet" href="{% static "./css/style.css" %}">
    </head>
    <body>
        <ul class="navbar">
            {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">logout</a></li>
            {% else %}
                <li><a href="{% url "login" %}">login</a></li>
                <li><a href="{% url "register" %}">register</a></li>
            {% endif %}
        </ul>
        {% block content %}

        {% endblock  %}
    </body>
</html>