{% extends "base.html" %}
{% load static %}
{% block content %}
        <form method="POST" class="form_sty">
        {% if messages %}
            {% for message in messages %}
                {% if message.tag == 'error' %}
                    <p style="color: red">{{message}}</p>
                {% else %}
                    <p style="color: blue">{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
            {% csrf_token %}
            <p>Enter your email address</p>
            <input type="email" required placeholder="email address" name="email">
            <button type="submit">Reset Password</button>
        </form>
{% endblock  %}