{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <form method="POST" class="form_sty">
        {% if messages %}
            {% for message in messages %}
                {% if message.tag == 'error' %}
                    <p style="color: red">{{message}}</p>
                {% else %}
                    <p style="color: blue">{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
            {% csrf_token %}
            <input type="text" required placeholder="username" name="username">
            <input type="password" required placeholder="password" name="password">
            <button type="submit">login</button>
        </form>
    </div>
{% endblock  %}