{% extends "base.html" %}
{% block content %}
    <div>
        <form method="POST" class="form_sty">
        {% if messages %}
            {% for message in messages %}
                {% if message.tag == 'error' %}
                    <p style="color: red">{{message}}</p>
                {% else %}
                    <p style="color: blue">{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
            {% csrf_token %}
            <input type="password" required placeholder="password" name="password">
            <input type="password" required placeholder="Retype password" name="confirm_password">
            <a href="{% url "login" %}">login</a>
            <button type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}